.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar{
  background-color: #2da3ff;
  display: block;
  height: 70px;
}

.body{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.topic{
  font-size: 25px;
  padding-right: 10px;
}

.quiz{
  margin-top: 10px;
  padding: 30px; 
  
}

.arrow{
  padding-top: 50px;
  text-align: right;
}

.stepperArea{
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
